<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Work" value="45"/>
		<add key="BreakPoints" value="1"/>
		<add key="TimerMode" value="0"/>
		<add key="LockMode" value="1"/>
		<add key="Display" value="1"/>
		<add key="ShutdownTime" value="-1"/>
		<add key="ShutdownPoints" value="-1"/>
		<add key="Unlock" value="0"/>
		<add key="IsIntelligent" value="0"/>
		<add key="ShutdownMode" value="0"/>
		<add key="ImgPath" value="Resources/wallpaper.jpg"/>
	</appSettings>
</configuration>